<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../Style/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="containerList">
        <div>
          <h1 class="center-text">Work To-Dos</h1>
        </div>

        <div>
          <div class="center-text">
            <p id="first">
              Enter text into the input field to add items to your list.
            </p>
            <p id="second">Click the item to mark it as complete.</p>
            <p id="third">Click the "X" to remove the item from your list.</p>
          </div>
        </div>

        <div>
          <div class="input-task">
            <input id="userInput" type="text" placeholder="New item..." />
            <button id="enter"><i class="fas fa-pencil-alt"></i></button>
          </div>
        </div>
        <div class="list">
          <ul id="listTasks"></ul>
        </div>

        <!-- Empty List -->
        <!-- <div class="row">
        <div class="listItems col-12">
          <ul class="col-12 offset-0 col-sm-8 offset-sm-2"></ul>
        </div>
      </div> -->
      </div>
    </div>
    <script type="text/javascript" src="/Controller/script.js"></script>
  </body>
</html>
